@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Edu+NSW+ACT+Foundation:wght@500&family=Handlee&family=Quicksand:wght@600&family=Righteous&family=Shalimar&display=swap');
@import url('https://cdn.maptiler.com/sdk-js/latest/maptiler-sdk.css');

/* 
Start Global Styling
*/
body {
  min-height: 100%;
  margin-bottom: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #8691F2;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin: 30px 20px;
  font-size: 90%;
}

.navbar img {
  width: 150px;
  height: auto;
  margin: 10px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover,
.navbtn:hover,
.signin:hover {
  color: gold;
}

.navbtn {
  background-color: #8691F2;
  border: transparent;
  color: white;
  padding-top: 5px;
  margin-left: 40%;
  font-size: 87%;
  font-family: 'Quicksand', sans-serif;
}

.signin {
  margin-top: 30px;
  margin-left: 58%;
  font-size: 90%;
}

#footer {
  display: flex;
}

.footbar {
  display: flex;
  justify-content: space-around;
  background-color: #21254a;
  padding: 13;
  margin: 0;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Quicksand', sans-serif;
}

.footbar li {
  display: inline;
  list-style-type: none;
  margin: 30px 20px;
  font-size: 90%;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.mtns {
  width: 130px;
  height: 80px;
  padding-top: 8px;
}

/* 
Stop Global Styling
*/
/* 
Start Sign Up styling
*/
.bg-color {
  background-color: #ce858a88;
}

.signupbg {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.googlebtn {
  width: 90px;
  height: auto;
}

.google-card {
  border: 1px solid gray;
  width: 400px;
  text-align: center;
  position: relative;
  padding: 30px;
  border-radius: 20%;
}

.signin-text {
  margin-bottom: 40px;
}

.quote {
  text-align: center;
  border-bottom: black 1px solid;
  width: 900px;
  font-size: 50px;
  font-family: 'Shalimar', cursive;
}

.center {
  display: flex;
  justify-content: center;
}

/* 
Stop Sign Up styling
*/
/* 
Start Home Styling
*/
.hero {
  position: relative;
  text-align: start;
}

.hero-text {
  position: absolute;
  top: 20%;
  bottom: 50%;
  left: 3%;
  color: white;
  text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.724);
}

.sunset-gifparent {
  display: flex;
  justify-content: center;
  margin: 0;
}

.sunset-gif {
  margin: 0;
  width: 100%;
  height: 450px;
  -webkit-mask-image: -webkit-gradient(linear, left, right, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-container {
  display: flex;
  justify-content: center;
}

.left-pic {
  background: url('./sunset2.jpeg') no-repeat;
  background-size: cover;
  width: 300px;
  height: 197px;
  border: 1px solid black;
  border-radius: 7%;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.right-pic {
  background: url('./plane.jpeg') no-repeat;
  background-size: cover;
  width: 300px;
  height: 197px;
  border: 1px solid black;
  border-radius: 7%;
  display: flex;
  justify-content: center;
}
.bonvoyage {
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
}

.btn-no-back {
  background-color: transparent;
  border: transparent;
  color: white;
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-top: 65px;
  font-size: 25px;
  text-shadow: 3px 3px #ce858a;
}

/* 
Stop Home Styling
*/
/* 
Start Message Board Styling
*/
.msg-brd {
  font-size: 30px;
  font-family: 'Handlee', cursive;
  text-align: center;
  margin: 20px auto 0;
  border-bottom: 1px solid #21254a;
  width: 40%;
}

.btns-container {
  display: flex;
  justify-content: space-around;
}

.btn-card {
  background: url('./mtns2.png') no-repeat;
  background-size: cover;
  /* border: 1px solid white; */
  height: 4em;
  width: 20em;
  margin: 15px 10px 40px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 2px;
}

.postbtn {
  height: 3em;
  width: 18em;
  background-color: white;
  border: 1px solid gray;
  color: grey;
  padding: 0px;
  text-align: left;
  margin: 12px;
}

.adventure-card {
  background: url('./alaska.jpeg') no-repeat;
  background-size: cover;
  /* border: 1px solid white; */
  height: 4em;
  width: 20em;
  margin: 15px 10px 40px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adventure {
  height: 2em;
  width: 13em;
  background-color: transparent;
  border: transparent;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 25px;
  text-shadow: 3px 3px black;
}

.view-post {
  border: 1px solid rgba(128, 128, 128, 0.451);
  width: 20rem;
  padding-left: 20px;
  margin: 30px;
  background-color: #85acce3e;
  
}
.postcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.view-post h3 {
  margin: 10px 10px 0px;
}

.expand-btn {
  background-color: transparent;
  border: transparent;
  color: #8691F2;
  font-size: 87%;
  font-family: 'Quicksand', sans-serif;
  height: 15px;
  width: 6em;
  padding: 0px;
  margin: 0px 10px;
}

.expanded {
  width: 45rem;
}

.expand-btn:hover {
  color: #21254a;
}

/* 
Stop Message Board Styling
*/
/* 
Start Create Post Styling
*/
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodybox {
  display: inline-block;
  border: black 1.5px solid;
  font-family: 'Dosis', sans-serif;
  resize: none;
  border-radius: 4%;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.titlebox {
  display: inline-block;
  border: black 1.5px solid;
  margin: 15px;
  width: 500px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  border-radius: 4%;
}

.post-button {
  width: 200px;
  margin: 20px;
  color:rgba(0, 0, 0, 1);
}
.create-h1 {
  font-family: 'Edu NSW ACT Foundation', cursive;
  margin-top: 0px;
}

/* 
Stop Create Post Styling
*/
/* 
Start Map Styling
*/
map-body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

map-code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
  /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 
Stop Map Styling
*/
/* 
Start Contact Styling
*/
.push-down {
  margin-top: 158px;
}
/* 
Stop Contact Styling
*/